@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fredericka+the+Great&family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background: #f2b941;
    border-radius: 20px;
    animation-name: bgAnimation;
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
}

@keyframes bgAnimation {
  0% { background-color: #f2b941;
    
 }
  50% { background-color: #afafef; }
  100% { background-color: #f2b941; }
}

#img {
    width: 300px;
    margin-top: 20px;
    border-radius: 30px;
    margin: auto;
}

.image {
    margin: auto;
    margin-top: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h1, h4, h6 {
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Fredericka the Great';
    font-size: 45px;
    animation: h1 3s infinite;
}
@keyframes h1 {
    0% { color: #483100;
      
   }
    50% { color: #00005d; }
    100% { color: #463000; }
  }

h4 {
    font-family: 'Fredericka the Great';
    color: rgb(92 49 33);
}

h6 {    
    font-family: 'Great vibes';
    font-size: 24px;
    color: rgb(74, 60, 0);
}
